body {
    background-image: url(img/unnamed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}